[submodule "cookbooks-sources/cloudfoundry-common"]
	path = cookbooks-sources/cloudfoundry-common
	url = git@github.com:trotter/cloudfoundry-common-cookbook.git
[submodule "cookbooks-sources/nats-server"]
	path = cookbooks-sources/nats-server
	url = git@github.com:trotter/nats-server-cookbook.git
[submodule "cookbooks-sources/rbenv"]
	path = cookbooks-sources/rbenv
	url = git@github.com:trotter/rbenv-cookbook.git
[submodule "cookbooks-sources/cloudfoundry-cloud_controller"]
	path = cookbooks-sources/cloudfoundry-cloud_controller
	url = git@github.com:trotter/cloudfoundry-cloud_controller-cookbook.git
[submodule "cookbooks-sources/cloudfoundry-router"]
	path = cookbooks-sources/cloudfoundry-router
	url = git@github.com:trotter/cloudfoundry-router-cookbook.git
[submodule "cookbooks-sources/cloudfoundry-health_manager"]
	path = cookbooks-sources/cloudfoundry-health_manager
	url = git@github.com:trotter/cloudfoundry-health_manager-cookbook.git
[submodule "cookbooks-sources/cloudfoundry-dea"]
	path = cookbooks-sources/cloudfoundry-dea
	url = git@github.com:trotter/cloudfoundry-dea-cookbook.git
[submodule "cookbooks-sources/cloudfoundry-mysql-service"]
	path = cookbooks-sources/cloudfoundry-mysql-service
	url = git@github.com:trotter/cloudfoundry-mysql-service-cookbook.git
[submodule "cookbooks-sources/cloudfoundry-ruby-runtime"]
	path = cookbooks-sources/cloudfoundry-ruby-runtime
	url = git@github.com:trotter/cloudfoundry-ruby-runtime-cookbook.git
